<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Simple</title>

    <link rel="stylesheet" href="/suricate/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/suricate/stylesheets/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/stylesheets/application.css">
  </head>

  <body>
    <div class="container" id="widgets">
      <div class="jumbotron">
        <h1>Counter example</h1>
      </div>
      <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2 counter" id="errors"></div>
        <div class="col-md-5"></div>
      </div>
    </div>

    <script type="text/javascript" src="/suricate/javascript/jquery.min.js"></script>
    <script type="text/javascript" src="/suricate/javascript/bootstrap.min.js"></script>


    <script type="text/javascript" src="/suricate/javascript/suricate.js"></script>
    <script type="text/javascript" src="/suricate/javascript/application.js"></script>
    <script type="text/javascript" src="/suricate/javascript/api.js"></script>
    <script type="text/javascript" src="/suricate/javascript/widget-factory.js"></script>
    <script type="text/javascript" src="/suricate/javascript/widgets-container.js"></script>
    <script type="text/javascript" src="/suricate/javascript/widgets/widget.js"></script>
    <script type="text/javascript" src="/suricate/javascript/widgets/counter-widget.js"></script>

    <script type="text/javascript" src="/javascript/application.js"></script>
  </body>
</html>
