<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Examples</title>

    <link rel="stylesheet" href="/suricate/stylesheets/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/suricate/stylesheets/vendor/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/suricate/stylesheets/suricate.css">
    <link rel="stylesheet" href="/stylesheets/application.css">
  </head>

  <body>
    <div class="container" id="widgets">
      <div class="jumbotron">
        <h1>Examples</h1>
      </div>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4" data-widget-id="errors"></div>
        <div class="col-md-4"></div>
      </div>

      <div class="row">
        <div class="col-md-6" data-widget-id="earnings"></div>
        <div class="col-md-6"></div>
      </div>
    </div>

    <script type="text/javascript" src="/suricate/javascript/vendor/jquery.min.js"></script>
    <script type="text/javascript" src="/suricate/javascript/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="/suricate/javascript/vendor/Chart.min.js"></script>


    <script type="text/javascript" src="/suricate/javascript/suricate.js"></script>
    <script type="text/javascript" src="/suricate/javascript/application.js"></script>
    <script type="text/javascript" src="/suricate/javascript/api.js"></script>
    <script type="text/javascript" src="/suricate/javascript/chart-js-chart-factory.js"></script>
    <script type="text/javascript" src="/suricate/javascript/widget-factory.js"></script>
    <script type="text/javascript" src="/suricate/javascript/widgets-container.js"></script>
    <script type="text/javascript" src="/suricate/javascript/widget-view.js"></script>
    <script type="text/javascript" src="/suricate/javascript/widget-updater.js"></script>
    <script type="text/javascript" src="/suricate/javascript/widgets/widget.js"></script>
    <script type="text/javascript" src="/suricate/javascript/widgets/counter-widget.js"></script>
    <script type="text/javascript" src="/suricate/javascript/widgets/line-chart-widget.js"></script>

    <script type="text/javascript" src="/javascript/application.js"></script>
  </body>
</html>
